<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ user.first_name }} logged in.</title>
    </head>
    <body>
        <h1>Hello {{ user.first_name }}! You have successfully logged in!</h1>
        <h2>
            Hip, hip, hurrayyyyyyyyyyyyyyyyyyyyyyyy!!! Go {{ user.first_name
            }}!!
        </h2>
        <a href="/logout">Logout</a>
    </body>
</html>
